/* styles.css */

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    transition: background-color 0.3s, color 0.3s;
}

body.light {
    background-color: #fff;
    color: #000;
}

body.dark {
    background-color: #000;
    color: #000;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 600px;
    transition: background-color 0.3s, color 0.3s;
}

.container.dark {
    background-color: #444;
    color: #f0f0f0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

h1 {
    margin: 0;
    color: inherit;
}

button {
    padding: 10px;
    border: none;
    background-color: #4CAF50;
    color: white;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

main {
    display: flex;
    flex-direction: column;
}

form {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.form-group {
    display: flex;
    margin-bottom: 10px;
}

.form-group input,
.form-group select {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 10px;
    background-color: inherit;
    color: inherit;
}

textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px;
    background-color: inherit;
    color: inherit;
}

.filters {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.filters input,
.filters select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: inherit;
    color: inherit;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background-color: #eee;
    margin: 10px 0;
    padding: 10px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    cursor: grab;
}

li.completed {
    text-decoration: line-through;
    opacity: 0.6;
}

li span {
    flex: 1;
}

li .details {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

li .actions {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

li button {
    padding: 5px;
    margin-left: 5px;
    background-color: #f44336;
}

li button.edit {
    background-color: #008CBA;
}

li button.complete {
    background-color: #4CAF50;
}

li button:hover {
    opacity: 0.8;
}

li button.complete:hover {
    background-color: #45a049;
}

li button.edit:hover {
    background-color: #007bb5;
}

li button.delete:hover {
    background-color: #e53935;
}

.draggable-placeholder {
    background-color: #ddd;
    height: 50px;
    margin: 10px 0;
    border-radius: 4px;
}
